<div class="headerComponent ">
<header>
  <div class="row topLinks">
    <div class="col-sm-8 mx-auto">
      <div class="row">
        <div class="col-md-3 col-xs-12 mr-auto">
          <div class="dropdownCur">
            <button class="btn dropdown-toggle" type="button" id="CurrencyButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span>Currency</span><i class="arrow down"></i>
            </button>
            <div class="dropdown-menu" aria-labelledby="CurrencyButton1">
              <a class="dropdown-item" href="#">EU</a>
              <a class="dropdown-item" href="#">USD</a>
              <a class="dropdown-item" href="#">ILS</a>
            </div>
          </div>
        </div>
        <div class="ml-auto col-md-3 col-xs-12 float-right"><nav class="nav nav-masthead justify-content-left">
           <a class="nav-link mt-1" href="#"  routerLink="/login" routerLinkActive="active">Register</a>
          <a class="nav-link mt-1" href="#"  routerLink="/login" routerLinkActive="active">  Sign In    </a>
        </nav>
        </div>
        <div class="mr-auto col-md-2 col-xs-12 float-right">
        <div class="dropdownCart">
            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span>empty</span><i class="arrow down"></i>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-4 mb-4 mainTopLinks">
   <div class="col-sm-11 mx-auto">
    <nav class="navbar navbar-expand-md  ">
      <a class="navbar-brand" href="#"  routerLink="/home" routerLinkActive="active"><b>AVENUE</b> FASHION</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">MAN <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">WOMEN</a>
          </li>
          <li class="nav-item">
            <a class="nav-link  " href="#">THE BRAND</a>
          </li>
          <li class="nav-item">
            <a class="nav-link  " href="#">LOCAL STORES</a>
          </li>
          <li class="nav-item">
            <a class="nav-link  " href="#">LOOK BOOK BRAND</a>
          </li>
        </ul>
        <form class="form-inline mt-2 mt-md-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search..">
          <button class="btn" type="submit"></button>
        </form>
      </div>
    </nav>
  </div>
 </div>
</header>
</div>
