<div class="contactPageComponent">
  <div class="homePageWrapper d-flex">
    <div class="row w-100">
          <span class="header justify-content-center align-self-center text-center">
              <p class="header1"><b>WELCOME</b> TO AVE </p>
              <p class="header2 ">SIGN IN OR REGISTER</p>
        </span>
    </div>
  </div>
  <div class="container marketing py-5">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <div class="row">
          <div class="col-sm-6 col-xs-12 ">
            <div>
              <h2>Contact PAge</h2>
            </div>
          </div>
          <div class="col-sm-6 col-xs-12 ">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
